:root {
  --white: #fff;
  --gray: #a5a5a5;
  --light-gray: #eaeaeb;
  --light: #f8f8f8;
  --dark: #212529;
  --green: #28a745;
  --box-shadow-label: 0 1px 3px var(--light-gray), 0 1px 2px var(var(--light-gray));
  --outline-label: 1px solid var(--light-gray);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background-image: linear-gradient(to right top, #845ec2, #9c5dc0, #b15dbc, #c55cb7, #d65db1);
  display: flex;
  justify-content: center;
}
